{% extends 'base.html' %} {% block title %}Blogly! A place to do your thinking for you{{q_num}}{% endblock %} {% block content %}
<div class="h2 m-3">
    Blogly Recent Posts
</div>
<div class="d-flex w-100 flex-column justify-content-start">
    {% for post in posts %}
    <div class="d-flex flex-column justify-content-start m-3">
        <div class="d-flex flex-row">
            <img src="{{post.my_user.image_url}}" alt="" height="30px">
            <span class="h4">
                {{post.title}}
            </span>

        </div>
        <div class="h5">
            {{post.content}}
        </div>
        <div>
            <span>By
            <a href="/users/{{post.my_user.id}}">{{post.my_user.full_name}}</a> on {{post.created_at}}</span>
        </div>
        <div>
            <span><em>Tags: </em></span> {% for tag in post.my_tags %}
            <a href="/tags/{{tag.id}}"><span class="badge badge-primary">{{tag.name}}</span></a>{% endfor %}
        </div>
    </div>

    {% endfor %}
    <div class="d-flex flex-row w-25">
        <span class="m-3 inline w-25"><a href="/users">User List</a></span>
        <span class="m-3 inline w-25"><a href="/tags">Tag List</a></span>
    </div>
</div>
{% endblock %}