{% extends 'base.html' %} {% block title %}Detail View{{q_num}}{% endblock %} {% block content %}
<div class="h2 m-3">
    Detail View
</div>
<div class="d-flex w-75 flex-row justify-content-start">
    <div class="d-flex w-25 m-2" id="image">
        <img class="w-100" src="{{user.image_url}}" alt="Picture of {{user.first}} {{user.last}}">
    </div>
    <div class="d-flex w-50 flex-column m-2" id="right">
        <div class="h3">{{user.first_name}} {{user.last_name}}</div>
        <div>
            <ul>
                {{% for post in posts%}}
                <li><a href="/posts/{{post.id}}">post.title</a></li>
                {{% endfor %}}
            </ul>
        </div>
        <div class="d-flex flex-row">
            <form action="/users/{{user.id}}/edit" method="get">
                <button class="btn btn-primary m-1">
                Edit
            </button>
            </form>
            <form action="/users/{{user.id}}/delete" method="post">
                <button class="btn btn-danger m-1">
                Delete
            </button>
            </form>
            <form action="/users" method="get">
                <button class="btn btn-secondary m-1">
                Return
            </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}